<% include ../header.ejs %>

<div id="admin-page">
	<div class="container">
		<h1>Settings</h1>
		<hr />
		<% include ../../messages.ejs %>
		<form action="/admin/settings" method="POST">

			<div class="form-group">
				<label class="form-label">Theme</label>
				<select name="theme" class="form-control">
					<option value="dark" <%= (config.theme == 'dark') ? 'selected' : '' %>>Dark</option>
					<option value="light" <%= (config.theme == 'light') ? 'selected' : '' %>>Light</option>
				</select>
			</div>
			
			<div class="form-group">
				<label class="form-label">Widget size</label>
				<select name="widget_size" class="form-control">
					<option value="default" <%= (config.widget_size == 'default') ? 'selected' : '' %>>Default</option>
					<option value="large" <%= (config.widget_size == 'large') ? 'selected' : '' %>>Large</option>
				</select>
			</div>

			<div class="form-group">
				<button class="btn btn-success" type="submit">Save</button>
			</div>
			
			<h2>Linked accounts</h2>
			<table class="table">
				<tbody>
					<tr>
						<td><strong>Twitter</strong></td>
						<% if(config.twitter_identifier && config.twitter_token && config.twitter_token_secret) { %>
							<td>User <%= config.twitter_identifier %></td>
							<td><a href="/auth/twitter/global-disconnect?destination=/admin/settings" class="btn btn-primary btn-sm">Unlink the global Twitter account</a>
						<% } else { %>
							<td><a href="/auth/twitter/global-connect?destination=/admin/settings" class="btn btn-primary btn-sm">Link a global Twitter account</a>
						<% } %>
					</tr>

				</tbody>
			</table>

		</form>
	</div>
</div>